<div class="span-12">
	<h2>Intrade - Node.js Module</h2>
</div>
<div class="span-12 tags last align-right">
	<p><span>jQuery</span>, <span>JavaScript</span>, <span>Open Source</span>, <span>UX</span></p>
</div>
<div class="span-24"></div>
<div class="span-12">
	<p>Intrade is a prediction market where you can buy or sell shares of future events.  Yes, its a bit of 
		a gamble, but I find it really interesting to get an idea of what the mass of people out there
		think is going to happen. I created a simple Node.js module that uses their api to fetch data
		on the markets.</p>
	<h3>The Gist</h3>
	<ul>
		<li>Node.js Module</li>
		<li>Open Source</li>
	</ul>
	<h3>Links</h3>	
	<ul>
		<li><a href="https://github.com/jamescharlesworth/intrade">On Github</a></li>
	</ul>
</div>	
<div class="span-12 last align-right">
	<img src="/images/media/intrade/node.png" />
</div>