<div class="span-12">
	<h2>MobileBox - Mobile jQuery  Lightbox Plugin</h2>
</div>
<div class="span-12 tags last align-right mobile-hidden">
	<p><span>jQuery</span>, <span>JavaScript</span>, <span>Open Source</span>, <span>UX</span></p>
</div>
<div class="span-24"></div>
<div class="span-12">
	<p>Most people have seen the jQuery plugin colorbox in action.  It provides a great way to enlarge images
		in the browser without taking the user to a new page. The downside is that it's the same user 
		experience on a mobile phone. Most of the time the image is not as large as it could be on the 
		users device and closing the popup dialog can be tough with such a small link.</p>
	<p> MobileBox is intended to use with colorbox or other lightbox plugins and will override the lightbox
		effect for mobile users and provide a mobile centric gallery.
	</p>	
	<h3>The Gist</h3>
	<ul>
		<li>jQuery Plugin</li>
		<li>Responsive design for mobile applications</li>
		<li>Touch enabled</li>

	</ul>
	<h3>Links</h3>	
	<ul>
		<li><a href="https://github.com/jamescharlesworth/mobileBox">On Github</a></li>
		<li><a href="">Demo</a></li>
	</ul>
</div>	
<div class="span-12 last align-right mobile-hidden">
	<img src="/images/media/mobilebox/mobilebox.png" />
</div>