<div class="span-12">
	<h2>Westchester Square - Condominum Web Portal</h2>
</div>
<div class="span-12 tags last align-right mobile-hidden">
	<p><span>PHP</span>, <span>Symfony</span>, <span>Frontend JavaScript</span>, <span>Design</span></p>
</div>
<div class="span-24"></div>
<div class="span-12">
	<p>Westchester Square, a condominium in Ansley Park, was looking for a way for residents to access shared
		documents as well as provide a forward facing web site for their community. This PHP based 
		application provides admin roles to manage the site as well as standard users roles to view content
		without making changes. Users can login and download association documents,
		view community contact information, provide notifications to residents, and use contact
		forms for residents to get in touch with association managers and maintenance contractors.</p>
	<h3>The Gist</h3>
	<ul>
		<li>PHP Web Application built on Symfony</li>
		<li>Multiple User Roles</li>
		<li>Admin's can upload and maintain the documents and contact information</li>
		<li>Built with PHP and minor Javascript</li>
	</ul>
	<h3>Links</h3>	
	<ul>
		<li><a href="http://www.westchestersquare.com" target="_blank">www.westchestersquare.com</a></li>
	</ul>
</div>	
<div class="span-12 last align-right mobile-hidden">
	
	<img src="/images/media/westchester/westchester.png" />
	
</div>