<div class="span-12">
	<h2>WestHost PHP Contest - SEO Campaign</h2>
</div>
<div class="span-12 tags last align-right mobile-hidden">
	<p><span>PHP</span>, <span>Symfony</span>, <span>Frontend JavaScript</span>, <span>Design</span></p>
</div>
<div class="span-24"></div>
<div class="span-12">
	<p>SEO is not about link building or other tactics to garner "synthetic links". It's online marketing. Find a way to engage your target market and give them a reason to talk about you.  The WestHost PHP contest was just that.  I built a PHP contest
	on the Symfony framework allowing for users to submit code. It also allowed for anyone to vote on a submission using a bayesian algorithm to rank the results. Furthermore it had SEO friendly tags and SEO friendly urls.</p>
	<h3>The Gist</h3>
	<ul>
		<li>Generated authentic high Pagerank links</li>
		<li>Powerful social media buzz</li>
		<li>Engaged the target market</li>
		<li>Created wonderful content from the community</li>
	</ul>
	<h3>Links</h3>	
	<ul>
		<li><a href="http://www.westhost.com/contest/php/">The PHP Contest</a></li>
	</ul>
</div>	
<div class="span-12 last align-right mobile-hidden browser">
	<img src="/images/media/westhost/westhost.png" />
</div>