<div class="span-12">
	<h2>WestHost PHP Contest - SEO Campaign</h2>
</div>
<div class="span-12 tags last align-right">
	<p><span>PHP</span>, <span>Symfony</span>, <span>Frontend JavaScript</span>, <span>Design</span></p>
</div>
<div class="span-24"></div>
<div class="span-12">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel diam eget orci bibendum aliquam. Nullam eget massa eros. Sed pharetra consectetur leo, vitae lacinia enim interdum et. Phasellus semper, orci tristique hendrerit commodo, sapien justo semper metus, sit amet semper mauris augue id turpis. Donec auctor ultricies laoreet. Donec ornare ligula eget augue gravida lacinia. Cras purus metus, cursus vel cursus id, elementum in nisl. Duis posuere massa a leo laoreet varius. Mauris ullamcorper sem vel sapien fringilla porttitor. </p>
	<h3>The Gist</h3>
	<ul>
		<li>WordPress Image Gallery Plugin</li>
		<li>More than 11k Downloads</li>
		<li>4 Star rating on WordPress</li>
		<li>Built with PHP and Javascript</li>
		<li>People use it because its simple yet elegant</li>
	</ul>
	<h3>Links</h3>	
	<ul>
		<li><a href="">On WordPress</a></li>
		<li><a href="">Demo</a></li>
	</ul>
</div>	
<div class="span-12 last align-right">
	<ul class="gallery">
		<li class="last-image"><a href="#"><img src="/images/tinymce-thumbnail-gallery.png" /></a></li>
		<li><a href="#"><img src="/images/tinymce-thumbnail-gallery.png" /></a></li>
		<li><a href="#"><img src="/images/tinymce-thumbnail-gallery.png" /></a></li>
	</ul>
</div>