<div>
	<div class="container">
		<div class="span-24 page-header">
			<h1>About Me</h1>
		</div>
		<div class="span-6 first">
			<h2>JavaScript</h2>
			<div class="about-column">
				<p>Working at The Home Depot I write validations on product data in a server side JavaScript
					environment. Working with product data can get complicated fast and JavaScript is a great
					language for it with its dynamic typing and freedom of expression.</p>
				<p>I also have created a few Node.js apps that help make my job easier.  Node.js is extremely fast and forces you to write small and simple applications, which in my opionion are the best kind.</p>	
				<p>As for frontend JavaScript, I stand on the shoulders of giants.  I am constantly making rich
					applications with jQuery, Backbone.js, Underscore and require.js. </p>
			</div>
		</div>
		<div class="span-6">
			<h2>PHP</h2>
			<div class="about-column">
				<p>I've been writing PHP code for 7 years now.  Starting off as a small business owner creating my own
					custom PHP applications I have come a long way. I am Zend PHP 5.0 certified and enjoy working 
					with PHP mainly because of all the great open source frameworks like Symfony and WordPress.</p>
				<p>I've built a majority of my applications and websites with PHP but am starting to lean towards
					Node.js for backend programming. I don't think there is a one size fit all approach though
					and consider all the variables.</p>	
			</div>
		</div>
		<div class="span-6">
			<h2>SEO</h2>
			<div class="about-column">
				<p>I spent three years as an SEO making websites really popular and generating a strong ROI. I decided to
					drop SEO several years ago because I realized that the best SEO is a great product offering
					and not link building or other tactics used solely for ranking in the SERPs.</p>
				<p>I found that the best SEO campaigns consisted of something tangible like great content or strong product knowledge
					that is well presented and an attitude to go along with it.  The problem is that most SEO clients
					don't want to provide that and as an SEO it can't be done as it must come from within the client's business.</p>
			</div>
		</div>
		<div class="span-6 last">
			<h2>Design</h2>
			<div class="about-column">
				<p>I enjoy creating simple web designs and nothing too complex. I find that any design that makes
					the content standout is usually a good one. I hand code all my HTML templates and work with 
					CSS frameworks such as Compass and SASS along with Blueprint.</p>
				<p>I am the first to admit that design is not my strong suite so if you are looking for 
					an amazing design i recommend you find someone else.  My sites and applications focus
					on data driven applications with a solid user experience.</p>

				
			</div>
		</div>
	</div>
</div>