<div>
		<div class="container">
			<div id="rCanvas" class="mobile-hidden"></div>
			<div class="content-wrapper">

				<div class="home-content">
					<div class="span-16 raphael-canvas mobile-hidden">
						&nbsp;
						<img src="/images/homepage-spacer.png" />	

					</div>

					<div class="span-8 last red-dot-text">
						
			
						<%= redDot %>
					
					</div>
					<div class="mobile-hidden below-fold">
						<div class="span-24">
							<hr />
						</div>
						<div class="span-8">
							<h2>Westchester Square</h2>
							<p>tes</p>
						</div>
						<div class="span-8">
							<h2>Westhost PHP Contest</h2>
						</div>
						<div class="span-8 last">
							<h2>TinyMCE Thumbnail Gallery</h2>
					</div>					
					</div>
				</div>
				

			</div>
		</div>
	</div>
</div>