<div>
		<div class="container">
			<div id="rCanvas" class="mobile-hidden"></div>
			<div class="content-wrapper">

				<div class="home-content">
					<div class="span-16 raphael-canvas mobile-hidden">
						&nbsp;
						<img src="/images/homepage-spacer.png" />

					</div>

					<div class="span-8 last red-dot-text">


						<h1>I optimize website profitability</h1>
						<p>This is done in two ways: traffic and conversions. I employ organic search technics to increase traffic and optimize websites to increase conversion rates.  For SEO I implement strategies that uses content and to drive links which in turn drives rankings which leads to traffic.  More importantly I focus on traffic that turns into sales, not just rankings.</p>
						<p>For conversion optimization, A/B and multivariate testing leads to improvements in messaging and conversions. I am always testing and finding ways to improve a websites overall goals.</p>
					</div>
					<div class="mobile-hidden below-fold">
						<div class="span-24 hr">

						</div>
						<div class="span-8">
							<h2>Westchester Square</h2>
							<p>A condo association web portal.  This application answered the residents needs
							of quick access to documents, contact information and the latest news and events
							in the community.  Enables quick access to management as well as providing a way
							for community admins to manage the application. <a href="/projects/westchester-square">Learn more</a> about site and portal. </p>
						</div>
						<div class="span-8">
							<h2>Westhost PHP Contest</h2>
							<p>This Symfony web application is a great example of a tangible SEO campaign. It generated links from page rank 9 sites like php.net among others.  It was also socially popular generating buzz
							on twitter and Facebook, driving lots of referral traffic to the site. <a href="/projects/westhost-php-contest">Checkout</a> the contest in detail.</p>
						</div>
						<div class="span-8 last">
							<h2>TinyMCE Thumbnail Gallery</h2>
							<p>I'm a big fan of plugins and open source software, but when something is not available I'll do it myself. TinyMCE Thumbnail Gallery is a WordPress plugin that easily allows the user to generate
								a simple gallery in a page or blog post. It's completely open source and has been downloaded over
								11,000 times. <a href="/projects/tinymce-thumbnail-gallery">Dive into</a> the Gallery</p>
					</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>