<div>
	<div class="projects page" id="projects">
		<div class="container">
			<div class="span-20"><h1>Projects</h1></div>
			<div class="span-2 counter"></div>
			<div class="span-2 last align-right">
				<a href="#" class="scroll scroll-down"><span class="ui-icon ui-icon-circle-triangle-s"></span></a>
				<a href="#" class="scroll scroll-up"><span class="ui-icon ui-icon-circle-triangle-n"></span></a>
			</div>
			<div class="span-24"></div>
			<div class="project-content span-24">
				
			</div>
		</div>
	</div>
</div>