<div>
	<div class="about page" id="about">
		<div class="container">

			<div class="span-24">
				<h1>About Me</h1>
			</div>
			<div class="span-6 first">
				<h2>JavaScript</h2>
				<div class="about-column">
					<p>Working at The Home Depot I write validations on product data all in a server side JavaScript
						environment. Working with product data can get complicated fast and JavaScript is a great
						language for it with its dynamic typing and freedom of expression.</p>
					<p>I also have created a few Node.js apps that help make my job easier.  Node.js is extremely fast and forces you to write small and simple applications, which in my opionion are the best kind.</p>	
					<p>As for frontened JavaScript, I stand on the shoulders of giants.  I am constantly making rich
						applications with jQuery, Backbone.js, Underscore and require.js. </p>
				</div>
			</div>
			<div class="span-6">
				<h2>SEO</h2>
				<div class="about-column">
					<p>I spent three years as an SEO making websites really popular and generating a strong ROI. I decided to
						drop the SEO toolbelt several years ago because i realized that the best SEO is a great product offering
						and not link building and other tactics used solely for ranking in the SERPs.</p>
					<p>I found that the best SEO campaigns consisted of something tangible great content, strong product knowledge
						that is well presented and an attitude to go along with it.  The problem is that most SEO clients
						dont wan't to provide that and as an SEO it can't be done as it must come from within the business.</p>
				</div>
			</div>
			<div class="span-6">
				<h2>Design</h2>
				<div class="about-column">
					<p>I'll be the first to tell you im not a designer. I find it a painful process and really hate doing it.
						Like any artist, you spend hours sculpting what you see as something great and some clients ask you to
						make the font scroll across the screen, or to use colors that make it pop, destroying the overall design.</p>
					</p>
					<p>You can get a feel for my design style from this site and engauge me if you like, but don't push it.
						I like simple designs that almost go unnoticed. I feel like its your content that should be making
						your users jump, not a flashy site that 'pops'. It's your design that should make your content 'pop'</p>

					
				</div>
			</div>
			<div class="span-6 last">
				<h2>Responsive / Mobile</h2>
				<div class="about-column">
					<p>This is an area I'm learning and see as the future of development. Your site definitely needs to scale and
						depending on your app's audience, it may as well. CSS Media queries and mobile stylesheets should make
						your design flexible to fit the user.</p>
					<p>Although I have used mobile frameworks like jQuery Mobile and Sencha Touch, I prefer custom web apps that are
						unique.</p>
					<p>If you are a non profit and have a good cause, feel free to reach out to e to discuss your needs in more
						detail as I am willing to provide substantial discounts to help your cause and add to my portfolio.</p>
					<p></p>	
				</div>
			</div>
		</div>
	</div>
</div>