<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><%= title %></title>
		<meta name="description" content="<%= meta_desc %>">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="/stylesheets/jquery-ui/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
		<link href="/stylesheets/ipod.css" rel="stylesheet" media="only screen and (max-width: 600px)" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

		<!--[if lt IE 8]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<% if (!built) { %>
		<!--<script type="text/javascript" src="http://192.168.1.65:8080/target/target-script-min.js#anonymous"></script>-->
		<% } %>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7590534-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

	</head>
	<body>

		<div class="wrapper header">
			<div class="container">
				<div class="header">
					<h1 class="title span-16">James Charlesworth</h1>
					<h2 class="title span-8 last mobile-hidden">JavaScript Developer</h2>
				</div>

			</div>

		<div class="pages">
			<div class="pages-wrapper">
				<!--html will be appended here from app-->

				<div class="container">
					<div class="menu">
						<ul>
							<li class="first">
								<a href="/" class="">Home</a>
							</li>
							<li>
								<a href="about" class="">About</a>
							</li>
							<li>
								<a href="projects" class="">Projects</a>
							</li>
						</ul>
					</div>

					<div class="span-24 fourofour">
						<h1>Page Not Found</h1>
					</div>

				</div>
			</div>
			<!-- /html being appended -->

		</div>

		<div class="footer" style="position:absolute; bottom:0;">
			<div class="container">
				<div class="span-10 append-6 mobile-hidden">
					<p>Contact Me</p>
					<p><span>Twitter</span><a href="https://twitter.com/_jcharlesworth">@_jamescharlesworth</a></p>
					<p><span>Github</span><a href="https://github.com/jamescharlesworth">jamescharlesworth</a></p>
				</div>
				<div class="span-8 last">
					<p>If you would like to speak with me regarding contract work, please email me directly.
						I only take on projects I feel are a good fit, so please dont be suprised if I refer
						you to someone who better fits your needs.</p>
				</div>

			</div>
		</div>

	</body>
</html>