<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>James Charlesworth</title>
		<link href="stylesheets/jquery-ui/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css">
		<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
		<link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
		<!--<link href="stylesheets/ipod.css" media="print" rel="stylesheet" media="only screen and (min-width: 600px)" type="text/css">-->
		<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

		<!--[if lt IE 8]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<script type="text/javascript" src="javascripts/vendor/raphaeljs/raphael-min.js"></script>
		<script type="text/javascript" data-main="javascripts/main"  src="javascripts/vendor/require.js"></script>

		
	</head>
	<body>
		<div class="jsloader" id="jsloader">
			<div class="loaderBoxWrapper">
				<div class="loaderBox" id="loaderBox"></div>
				<div class="loadingMessage">Please wait will i load my site.</div>
			</div>
		</div>
		<div class="wrapper header">
			<div class="container">
				<div class="span-24 header">
					<h1 class="title span-16">James Charlesworth</h1>
					<h2 class="title span-8 last">Web Application Developer</h2>
				</div>
				
			</div>

		</div>
		<div class="pages">
		<!--html will be appended here from app, need SEO friendly method though-->

		<!-- /html being appended -->
		</div>

		<div class="footer">
			<div class="container">
				<div class="span-10 append-6">
					<p>Contact Me</p>
					<p><span>Twitter</span><a href="">@_jamescharlesworth</a></p>
					<p><span>Github</span><a href="">jamescharlesworth</a></p>
					<p><span>Email</span><a href="">jamesDOTcharlesworth[AT]gmail.com</a></p>
				</div>
				<div class="span-8 last">
					<p>If you would like to speak with me regarding contract work, please email me directly.
						I only take on projects I feel are a good fit, so please dont be suprised if I refer
						you to someone who better fits your needs.</p>
				</div>

			</div>
		</div>

	</body>
</html>