<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title><%= title %></title>
		<meta name="description" content="<%= meta_desc %>">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link href="/stylesheets/jquery-ui/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css">
		<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
		<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">

		<link href="/stylesheets/ipod.css" rel="stylesheet" media="only screen and (max-width: 600px)" type="text/css">
		<link href='/stylesheets/poiret.css' rel='stylesheet' type='text/css'>

		<!--[if lt IE 8]>
			<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<% if (!built) { %>
		<!--<script type="text/javascript" src="http://192.168.1.65:8080/target/target-script-min.js#anonymous"></script>-->
		<% } %>
		<script type="text/javascript" data-main="/javascripts/main<%= built %>"  src="/javascripts/vendor/require.js"></script>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-7590534-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

	</head>
	<body>
		<div class="jsloader" id="jsloader">
			<div>
				<img src="/images/mobile-loader.gif" />
			</div>
		</div>
		<div class="wrapper header">
			<div class="container">
				<div class="header">
					<h1 class="title span-16">James Charlesworth</h1>
					<h2 class="title span-8 last mobile-hidden">JavaScript Developer - Atlanta</h2>
				</div>

			</div>

		</div>
		<div class="pages span-24">
			<div class="pages-wrapper">
			<!--html will be appended here from app-->
				<%- content %>
			<!-- /html being appended -->
			</div>
		</div>

		<div class="footer span-24">
			<div class="container">
				<div class="span-10 append-6">
					<p>Contact Me</p>
					<p><span>Twitter</span><a href="https://twitter.com/_jcharlesworth">@_jamescharlesworth</a></p>
					<p><span>Github</span><a href="https://github.com/jamescharlesworth">jamescharlesworth</a></p>
					<p><span>Email</span><a href="#" rel="moc/liamg//htrowselrahc/semaj" class="email"></a></p>
				</div>
				<div class="span-8 last">
				</div>

			</div>
		</div>

	</body>
</html>