<h1>Who Am I</h1>
<p>Still figuring that out, however I write a lot of code and focus on 
	learning web application development every day. I take the position of 
	a student no matter how much I learn. I find JavaScript
	to be my language of choice because of the wonderful user experience it
	can create in the web browser and the scalability it has on the server
	side with Node.js. I'm also equipped with a Zend PHP 5.0 certificate, 
	and 3 years of SEO experience in Atlanta.</p>
<p>I work at Home Depot writing business validations in JavaScript.  At night I create
web applications focusing on scalability, clean UI, clear UX, and some 
really cool frameworks.
</p>	