<h1>The red dot is simplicity</h1>
<p>So far you are at least two clicks into this site, yet there was
nothing but a dot to lead you here. A clean page with just a few choices. 
Enough to entice you, but not too much to overload your ability to navigate. </p>
<p>It's about understanding what your users are asking themselves while on the page
	and immediately providing the answers. It gets a bit more complex behind the
	scenes analyzing analytics and usability tests, but on the surface it's just
	plan simple.</p>