.about
  height: 800px
  background: url(../images/bg-red.png)
  border-top: 1px solid #FFFFFF
  padding: 40px 0

.about h1, .about h2
  font-family: 'Poiret One', cursive
  color: $dark_bg_font_color
  text-shadow: 1px 1px 1px $dark_bg_font_color_bg


.about h1
  font-size: 36px
  text-decoration: none
