body
  background: url(../images/bg-grey.png) repeat-x

.header
  height: 90px

.wrapper
  background: url(../images/bg.png)

.footer
  background: url(../images/bg-footer.png) repeat-x
  height: 100px

.container
  @include container
  width: 80%
  