.home-mantle
  background: url(../images/bg-home.png) no-repeat top center
  

.home-mantle h1
  font-size: 18px
  font-family: 'Poiret One', cursive
  color: $light_bg_font_color
  text-shadow: 1px 1px 1px $light_bg_font_color_bg
  font-weight: bold  

  
.home-mantle
  padding-top: 0

.home-mantle .container
  padding-top: 50px    