.projects
  height: 800px
  background: url(../images/bg-blue.png)
  padding: 20px 0

.projects h1, .projects h2
  font-family: 'Poiret One', cursive
  color: $dark_bg_font_color
  text-shadow: 1px 1px 1px $dark_bg_font_color_bg


.projects h1
  font-size: 36px
  text-decoration: none
