@import "compass/css3"

body
  background: url(../images/bg-grey.png) repeat

.wrapper
  background: url(../images/bg.png)
  height: 140px

.container
  @include container
  width: 80%
  

div.mobile-only
  display: none  

.jsloader
  position: absolute
  overflow: hidden
  height: 100%
  width: 100%
  z-index: 3000
  background-color: #dedede
  color: $blue_bg_color


.jsloader div
  margin: 0 auto
  width: 200px
  text-align: center
  position: relative
  margin-top: 20% 

.hr
  background: url(/images/hr.png) repeat-x top center
  height: 10px  