
.footer
  background: url(../images/bg-footer.png) repeat-x
  height: 100px
  padding: 20px 0 0

.footer p
  color: #DEDEDE
  margin-bottom: 4px


.footer p a
  color: #333333
  background-color: #DEDEDE
  padding: 2px
  text-decoration: none

.footer p span
  width: 75px
  display: inline-block