.home
  background: url(../images/bg-grey.png) repeat top center
  

.home h1,
.home h2
  font-size: 18px
  font-family: 'Poiret One', cursive
  color: $light_bg_font_color
  text-shadow: 1px 1px 1px $light_bg_font_color_bg
  font-weight: bold  

#rCanvas
  position: absolute
  width: 80%


.below-fold
  margin-top: 20px  
  

.below-fold h2
  margin-top: 15px  


.home a
  background: #999999